*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: relative;
   
    
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* a{
    text-decoration: none;
}
.main{
 padding-right: 100px;
 padding-left: 100px;
 padding-top: 100px;

}

/*------------------------------------------NAVBAR----------------------------------------*/
header{
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    box-shadow: 0px 10px 10px rgba(82, 82, 82, 0.384);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;

}
header .menu-icon {
    font-size: 35px;
    cursor: pointer;
    color: #A8001E;
    display: none;
}
header .navbar {
    display: flex;

}

header .navbar a{
    color: #A8001E;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
    line-height: 80px;
}
header .navbar a:hover {
    font-weight: bold;
    
}
.logo a img{
    width: 100px;
}

/*--------------------------------------responsivity----------------------------------------*/
@media screen and (max-width: 768px){
    header{
        padding: 0 40px;
     }
        header .menu-icon{
            display: block;
        }

        header .navbar{
            width: 100%;
            height: calc(100vh - 80px);
            background-color: #fff ;
            position: absolute;
            top: 80px;
            left: -100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 200ms ease-out;
        }
        header .navbar.active{
            left: 0;
        }  
.main{
  padding: 0;
  margin: auto;
}
           .image img{
            max-width: 100%;         
            height: auto;
          }
          .text{
            max-width: 100%;         
            height: auto;
            
          }
          .footer{
            max-width: 100%;         
            height: auto;
          }

}
@media screen and (max-width:1366px){
  .text{max-width: 600px;}

}
h1{
    color: #A8001E;
    font-size: 32px;
    font-family: 'Archivo', sans-serif;
}

.p1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    text-align: justify;
}
.b1{
    background-color: #fff;
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #A8001E;
    border-width: 2px;
    border-style: solid;
    border-color: #A8001E;
    border-radius: 30px;
    padding: 12px 60px;
    
}
.b1:hover{
    color: #fff;
    background-color: #A8001E;
    transition: all 200ms ease-out;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .text {
    font-size: 18px;
    max-width: 500px;
    text-align: justify;
    padding: 50px;
    float: left;
    
  }
  .image img{
    width: 500px;
    float: right;
  }
  #section_1{
    margin-top: 500px;
  }
  /*--------------------------------STEPS CARDS-------------------------------------*/
  h2, h4, h5{
      color: #A8001E;
      font-size: 30px;
      font-family: 'Archivo', sans-serif;
      font-weight: bold;
  }
  h3{
    color: #A8001E;
    font-size: 25px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
/* Float four columns side by side */
.column {
    float: left;
    width: 33.3%;
    padding: 0 10px;
  }
  .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;
        top: 100px;
      bottom: 100px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 768px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    padding: 16px;
    text-align: center;
    background-color: #fff;
    width:400px;
    height: 300px;
  }
/*-------------------------------SECTION 2------------------------------------*/
.b2{
  font-family: 'Archivo', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-style: solid;
  border-radius: 30px;
  padding: 16px 70px;
  border-color: #6F1224;
  color: #fff;
  background-color: #6F1224;
}
.b2:hover{
  background-color: #fff;
  color: #6F1224;
  border-width: 2px;
  border-color: #6F1224;
  transition: all 200ms ease-out;
}
/*-------------------------------COMENTS SECTION---------------------------*/
.comment-section{
  padding:50px 0px; 

  }

.R-title{
  margin-bottom: 10px; }
.comment-section .media-review{
  padding:30px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #FFE1E7 !important;
  max-width:700px;}

.comment-section .media .media-user{
  margin-right: 15px; 
  border-radius: 50%;
  overflow: hidden; 
  background: rgb(236, 236, 236);
   width: 130px;
   height: 130px;  }
.comment-section .media .media-user img{
  width:100%; 
  height:100%; 
  object-fit: cover;}
.comment-section .media .M-flex{display: flex;
  justify-content: space-between;}

.comment-section .media .M-flex .title span{
  color: #A8001E;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold; margin-bottom:5px;}
.comment-section .media .description{
  font-family: 'Roboto', sans-serif;
    font-size: 20px;margin-bottom: 20px;}
.rating-row ul{
  list-style:none;
  display:flex; 
  padding:0 ; 
  margin:0;}
.rating-row ul li{
  color:#ffc107;
  font-size:20px;
  margin:0px 3px;}
  /*----------------------------SECTION 3--------------------------------*/
  h6{
    color: #A8001E;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
  }
  .img_art img{
    width: 700px;
  }
 .text_2{
   max-width: 600px;
 }

 /*-----------------------------BLOG POSTS-----------------------------*/


div.gallery {
  
  background-color: #FFE1E7;
}

div.gallery:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
padding: 15px;
text-align: center;
font-family: 'Open Sans', sans-serif;
}

* {
box-sizing: border-box;
}

.responsive {
padding: 0 6px;
float: left;
width: 24.99999%;
}

@media only screen and (max-width: 700px) {
.responsive {
  width: 49.99999%;
  margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {

.responsive {
  width: 100%;
}
}

.clearfix:after {
content: "";
display: table;
clear: both;
}
/*-----------------------------FOOTER-------------------------------*/
.footer {
    background: pink;
    min-height: 300px;
    position: absolute;
    margin-bottom: 0;
    left: 0;
  }
  .footer img{
      width:100px
  }
  
  .social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item  {
  list-style: none;
  padding: 10px;
}
li a{
  color:#A8001E;

}
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  font-size: 18px;
  color: #fff;
  padding: 10px;

}
